# Handling impalance datasets

## 1. Upsampling
## 2. Downsampling

In [1]:
import numpy as np
import pandas as pd

In [3]:
# set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(900, 100)

In [5]:
# create my dataframe with imbalanced data set

In [16]:
class_0 = pd.DataFrame({
    'feature 1': np.random.normal(loc= 0, scale= 1, size= n_class_0),
    'feature 2': np.random.normal(loc= 0, scale= 1, size= n_class_0),
    'target' : [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature 1': np.random.normal(loc= 2, scale= 1, size= n_class_1),
    'feature 2': np.random.normal(loc= 2, scale= 1, size= n_class_1),
    'target' : [1] * n_class_1
})

In [17]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [18]:
df.head()

   feature 1  feature 2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [19]:
df.tail()

     feature 1  feature 2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [20]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# upsampling

In [22]:

df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [24]:
from sklearn .utils import resample
df_minority_upsampled = resample(df_minority,replace= True, # sample with replacement
                                 n_samples= len(df_majority),
                                 random_state=42
                                )

In [26]:
df_minority_upsampled.shape

(900, 3)

In [27]:
df_minority_upsampled.head()

     feature 1  feature 2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1

In [28]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [29]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

# downsampling

In [30]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [31]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [32]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, #Sample With replacement
         n_samples=len(df_minority),
         random_state=42
        )

In [33]:
df_majority_downsampled.shape

(100, 3)

In [34]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [35]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64